.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
node_modules/**
.gitignore
.git/**
.github/**
.gitmodules
grammar/.git
grammar/tools/**
grammar/.gitignore
grammar/README.md
grammar/package.json
grammar/package.nls.json
grammar/cgmanifest.json
esbuild.js
eslint.config.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
npm-debug.log*
*.vsix
