.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
node_modules/**
.gitignore
.git/**
.github/**
esbuild.js
eslint.config.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
npm-debug.log*
*.vsix
